.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;
}
.header section {
    width: 150px;
}
.header section.left {
    text-align: left;
}
.header section.right {
    text-align: right;
}
.header h3 {
    flex: 1;
    text-align: center;
    color: #007fff;
    -webkit-app-region: drag;
    cursor: move;
    font-size: 24px;
}
.header section .top_btn {
    cursor: pointer;
    background: #fff;
    border: 1px solid #007fff;
    outline: none;
    color: #007fff;
    padding: 2px 5px;
    border-radius: 2px;
}

.minimize, .close {
    display: inline-block;
    height: 25px;
    width: 22px;
    cursor: pointer;
}
.minimize {
    margin-right: 5px;
    background: url('./minimize.svg') no-repeat center;
}
.close {
    background: url('./close.svg') no-repeat center;
}

.main .task_list {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 400px;
}
.main .task_list .no_data {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background: url('./no-data.svg') no-repeat center;
    transform: translate(-50%, -50%);
}
.main .task_list .task {
    display: inline-block;
    width: 180px;
    height: 100px;
    border: 1px solid rgba(0,6,109,.1);
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    margin: 0 20px 20px 0;
    box-shadow: 4px 4px 6px 0 rgba(0,6,109,.2);
}

.main .task_list .task p {
    line-height: 30px;
}

.main .task_list .task:nth-child(3n) {
    margin-right: 0;
}


.footer {

}